:root {
    --app-variable-accent: #4D5CC1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template: 2fr 1fr auto 150px / 1fr;
    height: 100vh;
}

.formats-list-container {
    display: flex;
    flex-direction: column;
}

.bg-app {
    background-image: url('../images/powder.webp');
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: right -50vh top -30vh;
}

.main-menu-layout {
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: center;
    align-items: center;
}

.col-selection-ui {
    height: 7rem;
    margin: 2rem;
}

.current-color-text {
    width: 100vw;
    margin: auto;
}

.formats-input {
    width: 100%;
}

.format-inputs-bubble {
    display: flex;
    flex-direction: column;
}

/*elements of the UI that will change it's color based on the app variable accent*/
.oui-input-textual-embed-title {
    color: var(--app-variable-accent);
}

.oui-icon-button {
    background-color: var(--app-variable-accent);
}

.oui-input-textual-embed:focus,
.oui-input-textual-embed:hover {
    box-shadow: 0px 1.5px 0px 0px var(--app-variable-accent);
}
